nav{
  background-color: black;
}
.tabs{
   list-style: none;
   display: flex;
   padding: 0;
   margin: 0;
 }
 
 .tab{
   cursor: pointer;
   color: white;
   padding: 10px 20px;
   
 }
 
 .tab.active{
   color: pink;
   background: #333;
 }
 
 .tab-content{
   margin:20px;
   display: none;
   padding: 20px;
   border: 1px solid #ccc;
 }
 
 .tab-content.active{
   display: block;
 }
